<app-blackheader></app-blackheader>
<section>

    <div class="featuredProduct">
        <div class="productTitle">
          <h1>Home</h1>
          <div class="dash"></div>
        </div>

        <div class="mainFeatureProduct">
            <div class="large_main_container">
              <div class="background_large_container">
                <div class="mud_scrub_soap"></div>
              </div>
              <div class="main_name_and_price">
                <span>Mud Scrub Soap</span> -$15
              </div>
            </div>
      
            <div class="subFeatureProduct">
              <div class="smaller_sub_container">
                <div class="background_small_container">
                  <div class="the_field_report_vol_2"></div>
                </div>
                <div class="sub_name_and_price">
                  <span>The Field Report Vol. 2</span> -$0
                </div>
              </div>
      
              <div class="smaller_sub_container">
                <div class="background_small_container">
                  <div class="pennsylvania_notebooks"></div>
                </div>
                <div class="sub_name_and_price">
                  <span>Pennsylvania Notebooks</span> -$10
                </div>
              </div>
            </div>
          </div>
          </div>


</section>
<app-footersection></app-footersection>