<app-blackheader></app-blackheader>
<section>

    <div class="featuredProduct">
        <div class="productTitle">
          <h1>Bags</h1>
          <div class="dash"></div>
        </div>

        <div class="mainFeatureProduct">
            <div class="large_main_container">
              <div class="background_large_container">
                <div class="canvas_lunch_bag"></div>
              </div>
              <div class="main_name_and_price">
                <span class="product_name">Canvas Lunch Bag</span> - <span class="price_font">$32</span>
              </div>
            </div>
      
            <div class="subFeatureProduct">
              <div class="smaller_sub_container">
                <div class="background_small_container">
                  <div class="derby_tier_backpack"></div>
                </div>
                <div class="sub_name_and_price">
                  <span class="product_name">Derby Tier Backpack</span> - <span class="price_font">$148</span>
                </div>
              </div>
      
              <div class="smaller_sub_container">
                <div class="background_small_container">
                  <div class="dawson_trolley"></div>
                </div>
                <div class="sub_name_and_price">
                  <span class="product_name">Dawson Trolley</span> - <span class="price_font">$278</span>
                </div>
              </div>
            </div>
          </div>
          </div>
</section>
<app-footersection></app-footersection>