<section>
  <div class="dash_center">
    <div class="dash"></div>
  </div>

  <!-- Navigation Footer -->
  <div class="main_footer_section">
    <div class="footer_column_container">
      <nav routerLink="/home">Return policy</nav>
      <nav routerLink="/home">Search our store</nav>
      <nav routerLink="/home">Blog</nav>
      <nav routerLink="/home">Contact us</nav>
      <nav routerLink="/home">About us</nav>
    </div>


    <!-- Social Media footer -->
    <div class="footer_column_container">
      <nav routerLink="/home">
        <i class="fa fa-facebook-f"></i> Facebook</nav>
      <nav routerLink="/home">
        <i class="fa fa-twitter"></i> Twitter</nav>
      <nav routerLink="/home">
        <i class="fa fa-instagram"></i> Instagram</nav>
    </div>

    <!-- Banks and Copyright Footer -->
    <div class="bank_and_copyright_section">
      <ul>
        <li>&copy; 2018, Brooklyn Theme
          <br>Powered by shopify</li>
        <li>
          <i class="fa fa-cc-visa"></i>
          <i class="fa fa-cc-mastercard"></i>
          <i class="fa fa-cc-amex"></i>
          <i class="fa fa-cc-paypal"></i>
          <i class="fa fa-cc-diners-club"></i>
        </li>
        <li>
          <i class="fa fa-cc-discover discover"></i>
        </li>
      </ul>

    </div>
  </div>
</section>