<section>

    <div class="logoAndNav">

        <img routerLink="/home" src="../../assets/logo.png">
    
        <div class="navSection">
          <nav routerLink="/mens">MENS</nav>
          <nav routerLink="/womens">WOMENS</nav>
          <nav routerLink="/bags">BAGS</nav>
          <nav routerLink="/homesection">HOME</nav>
          <nav routerLink="/outdoor">OUTDOOR</nav>
          <nav routerLink="/search"  id="icon">
            <i class="fa fa-search"></i>
          </nav>
          <nav routerLink="/cart" id="icon">
            <i class="fa fa-shopping-cart"></i>
          </nav>
        </div>
      </div>




</section>

