<section class="mainSectionPadding">

  <!--Paragraph section-->
  <div class="paragraphSection">
    <p>Our product are inspired by the people and world around us. Beautiful, high quality goods that are designed especially
      for you.</p>
    <p>Discover
      <a routerLink="/home">our story</a> and meet teh people that make our brand what it is.</p>
  </div>

  <!--Collection product section-->
  <div class="featuredCollection">
    <div class="collectionTitle">
      <h1>Featured Collections</h1>
      <div class="dash"></div>
    </div>

    <div routerLink="/mens" class="itemsCollection">
      <div class="mens_frame">
        <div class="mens">
          <h1>Mens</h1>
        </div>
      </div>

      <div routerLink="/womens" class="women_frame">
        <div class="womens">
          <h1>Womens</h1>
        </div>
      </div>
    </div>

    <div class="itemsCollection">

      <div routerLink="/bags" class="bags_frame">
        <div class="bags">
          <h1>Bags</h1>
        </div>
      </div>

      <div routerLink="/outdoor" class="outdoor_frame">
        <div class="outdoor">
          <h1>Outdoor</h1>
        </div>
      </div>

      <div routerLink="/homesection" class="home_frame">
        <div class="home">
          <h1>Home</h1>
        </div>
      </div>
    </div>
  </div>

  <!--Featured product section-->
  <div class="featuredProduct">
    <div class="productTitle">
      <h1>Featured Products</h1>
      <div class="dash"></div>
    </div>

    <div class="mainFeatureProduct">
      <div class="large_main_container">
        <div class="background_large_container">
          <div class="red_wing"></div>
        </div>
        <div class="main_name_and_price">
          <span class="product_font">Red Wing Iron Ranger Boot</span> - <span class="price_font">$310</span>
        </div>
      </div>

      <div class="subFeatureProduct">
        <div class="smaller_sub_container">
          <div class="background_small_container">
            <div class="scout_backpack"></div>
          </div>
          <div class="sub_name_and_price">
            <span class="product_font">Scout Backpack</span> - <span class="price_font">$128</span>
          </div>
        </div>

        <div class="smaller_sub_container">
          <div class="background_small_container">
            <div class="duckworth"></div>
          </div>
          <div class="sub_name_and_price">
            <span class="product_font">Duckworth Woodfill Jacket</span> - <span class="price_font">$188</span>
          </div>
        </div>
      </div>
    </div>


    <div class="mainFeatureProduct">
      <div class="subFeatureProduct">
        <div class="smaller_sub_container">
          <div class="background_small_container">
            <div class="panel_camp"></div>
          </div>
          <div class="sub_name_and_price">
            <span class="product_font">5 Panel Camp Cap</span> - <span class="price_font">$48</span>
          </div>
        </div>
        <div class="smaller_sub_container">
          <div class="background_small_container">
            <div class="hudderton_backpack"></div>
          </div>
          <div class="sub_name_and_price">
            <span class="product_font">Hudderton Backpack</span> - <span class="price_font">$98</span>
          </div>
        </div>
      </div>
      <div class="large_main_container">

        <div class="background_large_container">
          <div class="ayres_chambray"></div>
        </div>
        <div class="main_name_and_price">
          <span class="product_font">Ayres Chambray</span> - <span class="price_font">$98+</span>
        </div>
      </div>
    </div>


  </div>



</section>