<app-blackheader></app-blackheader>
<section>
    <div class="featuredProduct">
        <div class="productTitle">
          <h1>Outdoor</h1>
          <div class="dash"></div>
        </div>

        <div class="mainFeatureProduct">
            <div class="large_main_container">
              <div class="background_large_container">
                <div class="camp_stool"></div>
              </div>
              <div class="main_name_and_price">
                <span>Camp Stool</span> -$78
              </div>
            </div>
      
            <div class="subFeatureProduct">
              <div class="smaller_sub_container">
                <div class="background_small_container">
                  <div class="double_wall_mug"></div>
                </div>
                <div class="sub_name_and_price">
                  <span>Double Wall Mug</span> -$24
                </div>
              </div>
      
              <div class="smaller_sub_container">
                <div class="background_small_container">
                  <div class="mola_headlamp"></div>
                </div>
                <div class="sub_name_and_price">
                  <span>Mola Headlamp</span> -$45
                </div>
              </div>
            </div>
          </div>
          </div>
</section>
<app-footersection></app-footersection>