<app-blackheader></app-blackheader>

<section>

  <div class="women_title_nav">

    <div class="featuredProduct">
      <div class="productTitle">
        <h1>Womens</h1>
        <div class="dash"></div>
      </div>
    </div>

    <div class="women_navigation_container">
      <div class="womens_navigation">
        <nav>all</nav>
        <nav>shirts</nav>
        <nav>sweaters</nav>
      </div>
    </div>
  </div>

  <div class="women_item_container">
  <div class="mainFeatureProduct">
    <div class="large_main_container">
      <div routerLink="/productsample" class="background_large_container">
        <div class="whitney_pullover"></div>
      </div>
      <div class="main_name_and_price">
        <span class="product_name">Whitney Pullover</span> - <span class="price_font">$138</span>
      </div>
    </div>

    <div class="subFeatureProduct">
      <div class="smaller_sub_container">
        <div class="background_small_container">
          <div class="harriet_chambray"></div>
        </div>
        <div class="sub_name_and_price">
          <span class="product_name">Harriet Chambray</span> - <span class="price_font">$98</span>
        </div>
      </div>

      <div class="smaller_sub_container">
        <div class="background_small_container">
          <div class="cydney_plaid"></div>
        </div>
        <div class="sub_name_and_price">
          <span class="product_name">Cydney Plaid</span> - <span class="price_font">$98</span>
        </div>
      </div>
    </div>
  </div>


  <div class="mainFeatureProduct">
    <div class="subFeatureProduct">
      <div class="smaller_sub_container">
        <div class="background_small_container">
          <div class="gertrude_candigan"></div>
        </div>
        <div class="sub_name_and_price">
          <span class="product_name">Gertrude Candigan</span> - <span class="price_font">$108</span>
        </div>
      </div>
      <div class="smaller_sub_container">
        <div class="background_small_container">
          <div class="chevron"></div>
        </div>
        <div class="sub_name_and_price">
          <span class="product_name">Chevron</span> - <span class="price_font">$36</span>
        </div>
      </div>
    </div>
    <div class="large_main_container">

      <div class="background_large_container">
        <div class="moon_cycle"></div>
      </div>
      <div class="main_name_and_price">
        <span class="product_name">Moon Cycle</span> - <span class="price_font">$36</span>
      </div>
    </div>
  </div>



  <div class="mainFeatureProduct">
      <div class="large_main_container">
        <div class="background_large_container">
          <div class="lodge"></div>
        </div>
        <div class="main_name_and_price">
          <span class="product_name">Lodge</span> - <span class="price_font">$36</span>
        </div>
      </div>
  
      <div class="subFeatureProduct">
        <div class="smaller_sub_container">
          <div class="background_small_container">
            <div class="long_sleeve_swing_shirt"></div>
          </div>
          <div class="sub_name_and_price">
            <span class="product_name">Long Sleeve Swing Shirt</span> - <span class="price_font">$46</span>
          </div>
        </div>
  
        <div class="smaller_sub_container">
          <div class="background_small_container">
            <div class="guaranteed"></div>
          </div>
          <div class="sub_name_and_price">
            <span class="product_name">Guarantee</span>d - <span class="price_font">$36</span>
          </div>
        </div>
      </div>
    </div>
</div>


</section>



<app-footersection></app-footersection>