<app-blackheader></app-blackheader>

<section>


  <div class="product_container">
    <div class="product_image_container">
      <div class="product_preview">
        <div class="product_first_preview"></div>
      </div>
      <div class="product_preview">
        <div class="product_second_preview"></div>
      </div>
      <div class="product_preview">
        <div class="product_third_preview"></div>
      </div>
      <div class="product_preview">
        <div class="product_fourth_preview"></div>
      </div>

    </div>

    <div class="product_description">
      <div class="title">Whitney Pullover</div>
      <div class="price">$138</div>
      <div class="dash"></div>
      <div class="size">
        <ul>
          <li>S</li>
          <li>M</li>
          <li>L</li>
          <li>XL</li>
        </ul>
      </div>
      <div class="cart_button">
        <button>ADD TO CART</button>
      </div>
      <div class="description">

        <em>This is a demonstration store. You can purchase products like this from
          <span>United by Blue.</span>
        </em>

        <p>Buttons are fussy. Sometimes you just want to roll out of bed, put on the pull over and get to the days work. Julie
          is 5'8'' and wearing a size small.</p>

        <ul>
          <li>100% wool, Heavy 4 gauge thickness.</li>
          <li>Handmade in Nepal.</li>
        </ul>



      </div>
      <div class="social_media">
        <ul>
          <li>
            <i class="fa fa-facebook-f"></i> Share</li>
          <li>
            <i class="fa fa-twitter"></i> Tweet</li>
          <li>
            <i class="fa fa-pinterest-p"></i> Pin it</li>
        </ul>
      </div>
    </div>



  </div>



  <div class="back_navigation">
    <div>
      <i class="fa fa-long-arrow-left"></i> back to womens</div>
  </div>





</section>

<app-footersection></app-footersection>