.dash{
    width: 4vw;
    height: 0.2vh;
    background-color:black;
    position: relative;
    margin-bottom: 12vh;
    
}

section{
    margin-top: 13vh;
    padding-left: 13vw;
    padding-right: 13vw;
    height: 420vh;

    .back_navigation{
        width: 100%;
        height: 25vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-family: 'Arapey', serif;
        letter-spacing: .1em;
        text-transform: uppercase;
    }

    .product_container{
        height: 410vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        

        .product_image_container{
            width: 100vw;
            height: 100%;
            display:flex;
            flex-direction: column;
            justify-content: space-between;


            .product_preview{
                width: 100%;
                height: 100vh;
                position: relative;
                align-items: center;
                justify-content: center;
                cursor: zoom-in;

                .product_first_preview{
                    background-image: url('../../assets/whitney_pullover.jpeg');
                    width: 100%;
                    height: 100vh;
                    position: relative;
                    background-size: contain;
                    background-repeat: no-repeat;
                    justify-content: space-between;
                }

                .product_second_preview{
                    background-image: url('../../assets/whitney_pullover_neck.jpeg');
                    width: 100%;
                    height: 100vh;
                    position: relative;
                    background-size: contain;
                    background-repeat: no-repeat;
                    justify-content: space-between;
                    
                }

                .product_third_preview{
                    background-image: url('../../assets/whitney_pullover_hem.jpeg');
                    width: 100%;
                    height: 100vh;
                    position: relative;
                    background-size: contain;
                    background-repeat: no-repeat;
                    justify-content: space-between;
                    
                }

                .product_fourth_preview{
                    background-image: url('../../assets/julie58.jpeg');
                    width: 100%;
                    height: 100vh;
                    position: relative;
                    background-size: contain;
                    background-repeat: no-repeat;
                    justify-content: space-between;

                    
                }
        
        


            }
            
            

            


        }



        .product_description{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 105vh;

            .title{

                font-family: "Old Standard TT",serif;
                font-weight: 400;
                margin: 0 0 0.5em;
                line-height: 1.4;
                font-size: 2.25rem;

            }

            .price{
                font-family: "Montserrat",sans-serif;
                font-style: normal;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #222323;
                font-size: 1.125em;
                font-weight: 400;
                margin-bottom: 5vh;

            }

            .size{
                width: 100%;
                height: 15vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                font-style: normal;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #222323;
                font-size: 1.125em;
                font-weight: 400;
                
                
                ul{
                    
                    width: 20vh;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    list-style-type: none;
                    -webkit-padding-start: 0;

                    li{
                        height: 3vh;
                        font-family: "Montserrat",sans-serif;
                        cursor: pointer;
                        font-size: 0.9rem;
                        &:active{
                            background-color: rgba($color: #F8F8F8, $alpha: 1.0);
                            border-style: solid;
                            border-width: 1px;
                            border-color: black;
                        }
                    }
                    
                }
                
            }

            .cart_button{
                button{

                    background-color: #3A3C3C;
                    border-style: none;
                    color: white;
                    font-family: "Montserrat",sans-serif;
                    font-weight: 400;
                    font-style: normal;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    padding: 12px 20px;
                    font-size: 0.85em;

                }

            }

            .description{

                margin-top: 5vh;
                padding-left: 2.5vw;
                padding-right: 2.5vw;
                line-height: 1.5rem;
                word-spacing: 2px;
                font-family: "Arapey",serif;

                em{
                    font-style: italic;

                    span{
                        color: #a26b25;
                    }
                }
                
                p{
                    margin-top: 5vh;

                }
                
                ul{
                    padding-top:5vh;
                    -webkit-padding-start: 1.5vw;
                }
            

            }

            .social_media{
                margin-top: 5vh;
                width: 20vw;
                ul{
                    display: flex;
                    flex-direction: row;
                    list-style-type: none;
                    justify-content: space-between;
                    li{
                        font-family: "Arapey",serif;
                        i{
                            padding-right: .5vw;
                        }
                    }
                }
            }

        }


    }
}