/* You can add global styles to this file, and also import other style files */
html, body{
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
}



* {
    margin: 0;
    box-sizing: border-box;
}

:-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-thumb {
    display: none;
}